<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorate="template1">

<head>
<meta charset="utf-8" />
<title>Votre Bank</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div layout:fragment="content" >
<div class="col-md-6">
      <div class="panel panel-primary">
           <div class="panel-heading">Consultion Compte
          </div>
            <div class="panel-body">
           <form th:action="@{/consulterCompte}" method="get">
          <div>
          <label>code compte:</label>
          <input type="text"  name="codeCompte" th:value=${codeCompte}/>
          <button type="submit" class="btn btn-primary">Ok</button>
          </div>
          
          
          
          </form>
                        <div  class="text-danger"th:if=${exception} th:text="${exception.message}">
          
         </div>
      </div>
      
      
      
      <div class="panel panel-primary" th:if="${compte}">
           <div class="panel-heading">Information sur le compte
          </div>
          <div class="panel-body">
          <label >Client</label><br>
          <label th:text="${compte.client.nom}"></label><br>
          <label >Code</label><br>
          <label th:text="${compte.codeCompte}"></label><br>
          <label >Solde</label><br>
          <label th:text="${compte.solde}"></label><br>
          <label >Date d'operation</label><br>
          <label th:text="${compte.dateCreation}"></label><br>
          <label >Type</label><br>
          <label th:text="${compte.class.simpleName}"></label><br>
          
          <div th:if="${compte.class.simpleName=='CompteCourant'}">
          <label >Decouvert</label><br>
          <label th:text="${compte.decouvert}"></label><br>
          </div>
           <div th:if="${compte.class.simpleName=='CompteEpargne'}">
          <label >Taux</label><br>
          <label th:text="${compte.taux}"></label><br>
          </div>
         </div>
      </div>
      
       <div class="panel panel-primary" th:if="${compte}">
           <div class="panel-heading">iste de Operations
          </div>
          <div class="panel-body">
          <table class="table table-striped">
          <tr>
          <th>Num</th><th>type</th><th>Date</th><th>Montant</th>
          </tr>
          <tr th:each="o:${listOperations}">
              <td th:text=${o.numero}></td>
              <td th:text=${o.class.simpleName}></td>
              <td th:text=${o.dateOperation}></td>
              <td th:text=${o.montant}></td>
          </tr>
          
          </table>
          
          <div class="container">
          <ul clas="nav nav-pills">
          <li th:each="p,status:${pages}">
          <a  th:href="@{/consulterCompte(codeCompte=${codeCompte},page=${status.index})}"                               th:text="${status.index}"></a>
          </li>
          
          </ul>
          </div>
          
          
          
         </div>
      </div>
      <div class="col-md-6" sec:authorize="hasRole('ROLE_ADMIN')">
       <div class="panel panel-primary" th:if="${compte}">
           <div class="panel-heading">Operation sur le Compte
          </div>
          <div class="panel-body">
         <form th:action="@{/saveOperation}" method="post">
         <div>
         <label>Compte</label>
         <input type="hidden" name="codeCompte" th:value="${codeCompte}">
         </div>
              <div>
                 <input type="radio" checked="checked"  name="typeOperation" value="VERS" onchange="document.getElementById('forVirment').style.display='none'"/>
                      <label>Versemment</label>
                 <input type="radio" name="typeOperation" value="RET" onchange="document.getElementById('forVirment').style.display='none'"/>
                      <label>Retrait</label>
                 <input type="radio" name="typeOperation" value="VIR" onchange="document.getElementById('forVirment').style.display='block'"/>
                      <label>Virment</label>
                      <div id="forVirment">
                      <label>Vers</label>
                      <input type="text" name="codeCompte2">
                      </div>
                      <div>
                      <label>Montant</label>
                <input type="text" name="montant"></div>
              </div>
              <div class="txt-danger"  th:text="${#httpServletRequest.getParameter('error')}"></div>
              <button type"submit" class="btn btn-primary">Save</button>
          </form>
          
          
         </div>
      </div>
      
</div>

</div> 



</body>
</html>